openapi: 3.0.3
info:
  title: API для backend'а ScheduleApp спецификация
  version: 1.0.0
servers:
  - url: https://schedule.omsktec-playgrounds.ru/api/v1/
    description: Dev server
paths:
  /schedule/:
    get:
      summary: Метод получения текущего расписания
      tags:
        - Schedule
      parameters:
        - name: client
          in: query
          required: true
          description: Имя клиента, для которого нужно получить расписание
          schema:
            type: string
            example: ОО-31
        - name: X-CLIENT-TIME
          in: header
          required: False
          description: Дата с которой будет получен ответ от сервера(format - iso8601).(Если в этой датe - нет расписания, показывает только то что есть в базе после этой даты)
          schema:
            type: string
            example: 20210411T010000+0600
      responses:
        '200':
          description: Отправляет расписание
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Schedule"
        '400':
          description: Клиент не найден либо не указан
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Клиент не найден
        '404':
          description: Расписание не найдено по времени переданому в хедер(если время не указано time берется с сервера)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: У вас нет расписания
  /clients/:
    get:
      summary: Метод получения клиентов с фильтрацией по is_teacher
      tags:
        - Clients
      operationId: getClients
      parameters:
        - name: is_teacher
          in: query
          required: true
          description: Фильтр по типу клиента (false - не учитель, true - учитель)
          schema:
            type: boolean
            example: true
      responses:
        '200':
          description: Успешный ответ с данными клиентов
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Clients"
        '400':
          description: Ошибка в параметре запроса
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Параметр is_teacher(true, false) Обязательный параметр is_teacher не передан
        '404':
          description: Клиенты не найдены, в бд нет расписания
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: В базе данных нет расписания, она пуста.

components:
  schemas:
    ClientSchedule:
      type: object
      properties:
        client_name:
          type: string
          example: "ПКД-21"
        is_teacher:
          type: boolean
          example: false
        schedules:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
                example: "2024-12-16"
              lessons:
                type: array
                items:
                  type: object
                  properties:
                    number:
                      type: integer
                      example: 3
                    items:
                      type: array
                      items:
                        type: object
                        properties:
                          title:
                            type: string
                            example: "Мдк.01.02."
                          type:
                            type: string
                            example: "лекция"
                          partner:
                            type: string
                            example: "Савельева Ю. С."
                          location:
                            type: string
                            example: "-"
    Clients:
      type: array
      items:
        type: string
        example: Маслова Н. А.
                 
                      
                    
                
