annotated-types==0.7.0
asgiref==3.8.1
beautifulsoup4==4.12.3
cachetools==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.2
Django==5.2.1
django-cors-headers==4.6.0
django-ninja==1.4.3
dnspython==2.6.1
google-auth==2.40.1
gprof2dot==2025.4.14
gunicorn==23.0.0
idna==3.10
lxml==5.3.0
packaging==25.0
psycopg2-binary==2.9.9
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.11.7
pydantic_core==2.33.2
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
rsa==4.9.1
soupsieve==2.6
sqlparse==0.5.1
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2024.1
urllib3==2.4.0
